*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-width: 100vh;
    background-color: deeppink;
}

.filter-button{
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
     justify-content: center;
}
button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;

}

button.active{
    background-color: chocolate;
}

.filterable-card{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;

}

.card{
    flex-basis: 300px;
    flex-grow: 1;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 3px;

}

.card img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card.hide{
    display: none;
}